# Copy this file to ".env" and set actual values.

# Kabu API credentials
KABUS_API_PASSWD=change_me
KABUS_TRD_PASSWD=change_me

# LINE Messaging API
LINE_CHANNEL_ACCESS_TOKEN=change_me
LINE_USER_IDS=Uxxxxxxxx,Uyyyyyyyy
